body {
  width: 360px;
  padding: 0em;
  margin: 0.5em;
}

h1 {
  font-weight: normal;
}

p {
  color: #24292e;
  overflow-wrap: break-word;
  margin: 0.25em 1em;
}

.tabinfo-wrapper {
  padding: 1em 1.5em;
  display: flex;
  align-items: center;
}
.tabinfo {
  line-break: anywhere;
}
.icon {
  width: 32px;
  height: 32px;
  padding: 0.5em;
}

.button-wrapper {
  text-align: right;
  padding: 1em 1.5em;
}
.copy-button {
  background: none;
  font-size: small;
  color: #2f3b4b;;
  border: 1px solid #2f3b4b;
  border-radius: 5px;
  padding: 0.5em 1em;
  margin: 0em 0.25em;
  display: inline-flex;
  align-items: center;
  transition: all 0.2s ease-out;
}
.copy-button:hover {
  color: #ffffff;
  background-color: #2f3b4b;
}
.button-icon {
  transform: scale(0.9);
  margin-right: 0.25em;
}
.button-text {
  margin-right: 0.5em;
}