body {
  width: 240px;
}

h1 {
  font-weight: normal;
}

.button-wrapper {
  display: flex;
}
.copy-button {
  background: none;
  font-size: medium;
  border: none;
  padding: 0.5em;
}
.copy-button:hover {
  background-color: aqua;
}